<ion-header>
  <ion-navbar text-left>
      <ion-buttons end>
          <button color="primary" ion-button clear (click)="close()">Sulje</button>
        </ion-buttons>
      <ion-title>Saavutukset!</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="margin-top relative">

  <!-- <section *ngIf="tab === 0"> -->

  <ion-slides #achievementSlider (ionDidChange)="onSlideChanged()">
    <ion-slide>
      <ion-card>
        <ion-row center>
          <ion-col width-33><ion-icon class="{{getLevel().icon}}" role="img"></ion-icon></ion-col>
          <ion-col width-50>
            <ion-row><h1>Level {{experience.level}}</h1>
            </ion-row>
            <ion-row center>
              <ion-col width-80>
                <div class="progress-bar">
                  <div class="animate progress" [ngStyle]="{'width': width+'%'}"></div>
                </div>
              </ion-col>
              <ion-col width-20>
                <span color="primary">{{experience.level+1}}</span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-row class="user-experience margin-vertical">
        <span class="info text-inset">Kyntäjä</span>
      </ion-row>
      <div class="green-background"></div>
    </ion-slide>

    <ion-slide>
      <ion-card *ngFor="let ribbon of trophyService.getRibbons()">
        <ion-row center [ngClass]="{'disabled': !isRibbonDiscovered(ribbon)}">
          <ion-col width-30><ion-icon class="{{ribbon.icon}}" role="img"></ion-icon></ion-col>
          <ion-col width-50> {{ribbon.label}}</ion-col>
          <ion-col width-20 class="text-right"><span class="primary ribbon-count" [ngClass]="{'font-big':isBig(ribbon), 'font-avarage': (!isBig(ribbon))}">{{getRibbonCount(ribbon)}}</span></ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card *ngFor="let medal of trophyService.getMedals()">
        <ion-row center [ngClass]="{'disabled': !isMedalDiscovered(medal)}">
          <ion-col width-30><ion-icon class="{{medal.icon}}" role="img"></ion-icon></ion-col>
          <ion-col width-50> {{medal.label}}</ion-col>
          <ion-col width-20 class="text-right"><ion-icon class="font-big primary" name="{{hasMedal(medal)}}"></ion-icon></ion-col>
        </ion-row>
      </ion-card>
    </ion-slide>

  </ion-slides>




  <!-- </section> -->

  <!-- <section *ngIf="tab === 1"> -->



  <!-- </section> -->

  <!-- <section *ngIf="tab === 2"> -->



  <!-- </section> -->

</ion-content>

<ion-footer>
  <ion-navbar>
  <ion-row text-center>

    <ion-col width-33 (click)="slideTo(0)">
      <ion-icon color="{{getColor(tabs.Xp)}}" name="star-half"> </ion-icon>
    </ion-col>

      <ion-col width-33 (click)="slideTo(1)">
      <ion-icon color="{{getColor(tabs.Medal)}}" name="medal"> </ion-icon>
    </ion-col>

    <ion-col width-33 (click)="slideTo(2)">
      <ion-icon color="{{getColor(tabs.Trophy)}}" name="person"> </ion-icon>
    </ion-col>

  </ion-row>
</ion-navbar>
</ion-footer>
