page-dashboard-page {

  ion-card {
    position: relative;
  }

  .course-label {
    font-size: map-get($fonts, small);
    white-space: normal;
  }

  .background-image {
    position: absolute;
    width: 100%;
    height: 190px;
    left:0;
    right:0;
    top: 0;
    bottom: 0;

    background-image: url("../../assets/img/dashboard/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    filter        : blur(1px);
    -moz-filter   : blur(1px);
    -webkit-filter: blur(1px);
    -o-filter     : blur(1px);
  }

  .portrait-content {
    width: 100%;

    .container {
      position: relative;
      margin: auto;
      width: 200px;
      height: 200px;
    }
  }

  .circle {
    position: absolute;
    right: 0;
    top: 70%;
    width: map-get($elements, small-circle);
    height: map-get($elements, small-circle);
    background: color($colors, background-light);
    border-radius: 50%;
    border: 1px solid map-get($colors, light);
    text-align: center;

    button {
      height: map-get($elements, small-circle);
      margin: 0;
    }
  }

  .portrait {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;

    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
  }

  .portrait img {
    width: auto;
    height: 100%;
  }
}
