<div>

  <section *ngIf="!holeService.getResult().multiplayerTab">

       <ion-item>
         <ion-label class="animate color" [ngClass]="{'secondary': holeService.getResult().singlePlayer.noResult}">Pallo taskuun</ion-label>
         <ion-toggle color="secondary" [(ngModel)]="holeService.getResult().singlePlayer.noResult"></ion-toggle>
       </ion-item>


       <section *ngIf="!holeService.getResult().singlePlayer.noResult">

         <ion-item>
           <ion-label class="animate color" [ngClass]="{'primary': holeService.getResult().singlePlayer.fairway}">Avaus väylällä</ion-label>
           <ion-toggle [(ngModel)]="holeService.getResult().singlePlayer.fairway"></ion-toggle>
         </ion-item>

         <ion-item *ngFor="let input of inputs; let i = index" no-lines>

          <ion-label class="width-70">{{input.label}}</ion-label>

          <ion-label class="width-20" align="center"
               class="{{input.cssClasses}}"
               color="{{input.color}}"
               [ngClass]="{strokes: input.color==='primary', 'font-avarage': !isBig(input.key), 'font-big': (isBig(input.key))}"
           > {{holeService.getResult().singlePlayer[input.key]}}
         </ion-label>

          <button item-right ion-button round (click)="decrease(input.key)"><ion-icon name="remove"></ion-icon></button>
          <button item-right ion-button round (click)="increase(input.key)"><ion-icon name="add"></ion-icon></button>
         </ion-item>

         <ion-item>
           <ion-label class="animate color" [ngClass]="{'primary': holeService.getResult().singlePlayer.gir}">GiR-osuma</ion-label>
           <ion-toggle [(ngModel)]="holeService.getResult().singlePlayer.gir"></ion-toggle>
         </ion-item>

         <ion-item>
           <ion-label class="animate color" [ngClass]="{'primary': holeService.getResult().singlePlayer.sandSave}">Hiekkapelastus</ion-label>
           <ion-toggle [(ngModel)]="holeService.getResult().singlePlayer.sandSave"></ion-toggle>
         </ion-item>

       </section>

  </section>

    <section *ngIf="holeService.getResult().multiplayerTab">
      <ion-grid *ngFor="let multiplayer of holeService.getResult().multiplayers">

       <ion-row class="content">

         <ion-col width-40>{{multiplayer.name}}</ion-col>
         <ion-col end width-10 color="primary" class="text-right">
           <span>{{multiplayer.strokes}}</span>
         </ion-col>

         <ion-col width-50>
           <ion-buttons end>
             <button ion-button round (click)="(multiplayer.strokes = multiplayer.strokes > 1 ? multiplayer.strokes-1 : multiplayer.strokes)" type="button"><ion-icon name="remove"></ion-icon></button>
             <button ion-button round (click)="(multiplayer.strokes = multiplayer.strokes+1)"><ion-icon name="add"></ion-icon></button>
           </ion-buttons>
         </ion-col>

       </ion-row>

     </ion-grid>
   </section>

</div>
