hole {
  .content {
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  button {
    width: map-get($sizes, roundLarge) !important;
    height: map-get($sizes, roundLarge) !important;
  }

  .score-background {
    // background: -webkit-linear-gradient(to left, #94BB69, #428250);
    // background: linear-gradient(to left, #94BB69, #428250);
    background: map-get($colors, dark);
  }

  .custom-input {
    background: white;
    border-bottom: 0.55px solid #c8c7cc;
  }

  .clear-margin {
    margin-top: -12px;
  }

}
