hole {
  .content {
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
  }
  button {
    width: map-get($sizes, roundLarge) !important;
    height: map-get($sizes, roundLarge) !important;
  }
  // .strokes {
  //   font-size: map-get($fonts, big);
  //   &.font-avarage {
  //     white-space: nowrap;
  //     font-size: map-get($fonts, avarage);;
  //   }
  // }

}
