.animate {
  &.progress {
    -webkit-transition : width .5s ease;
    transition : width .5s ease;
  }

  &.font {
    -webkit-transition : font-size .1s ease-in;
    transition : font-size .1s ease-in;
  }

  &.color {
    -webkit-transition : color .3s ease;
    transition : color .3s ease;
  }

  &.height {
    -webkit-transition : max-height 0.6s ease;
    transition : max-height 0.6s ease;
  }

  &.margin {
    -webkit-transition : margin .5s ease;
    transition : margin .5s ease;
  }

}
