ion-content {

  &.hide-footer-margin {
    .scroll-content {
      margin-bottom: 0px !important;
    }
  }

}

.relative {
  position: relative;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-top: 16px;
}

.hide-footer {
  max-height: 0px;
}

.margin-vertical {
    margin: 16px 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.disabled {
  opacity: 0.3;
}

.full-width {
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.no-background {
  background: none !important;
}

.border-bottom {
  border-bottom: 1px solid color($colors, extra-light);
}
.border-top {
  border-top: 1px solid color($colors, extra-light);;
}
.border-left {
  border-left: 1px solid color($colors, extra-light);;
}
.border-right {
  border-right: 1px solid color($colors, extra-light);;
}

.center-vertical {
  display: flex;
  align-items: center;
}

ion-row {
  ion-col {
    font-size: map-get($fonts, inputLabel);
  }
}

ion-row[light] {
  ion-col {
    color: color($colors, light);
  }
}

ion-row[primary] {
  ion-col {
    color: color($colors, primary);
  }
}

.tab-active {
  -webkit-transition : margin .3s ease;
  transition : margin .3s ease;
  height: 2px;
  background: color($colors, primary);
  width: 50% !important;

  &.multiplayer {
    margin-left: 50%;
  }
}

ion-slide {
  .slide-zoom {
    height: 100%;
  }
}

ion-header, ion-footer {
  max-height: map-get($sizes, menu-height);
  ion-toolbar {
      min-height: map-get($sizes, menu-height);
      max-height: map-get($sizes, menu-height);
  }
  ion-navbar {
    min-height: map-get($sizes, menu-height);
    max-height: map-get($sizes, menu-height);
  }

}

ion-scroll {
  display: block;
  height: 1000px;
}

@for $i from 1 through 10 {
    .width-#{$i*10} {
        width: percentage($i/10);
        min-width: percentage($i/10);
        max-width: percentage($i/10);
    }
}
