ion-content {

  &.hide-footer-margin {
    .scroll-content {
      margin-bottom: 0px !important;
    }
  }

}

.no-overflow {
  overflow: hidden;
}

.transparent {
  background:rgba(255, 255, 255, 0.95);
}

.text-background {
  background:rgba(0, 0, 0, 0.3);
}



.list-item:first-child {
  border-top:  0.55px solid color($colors, border);
}

.list-item:last-child {
  border-bottom: 0.55px solid color($colors, border);
}

.list-item-last {
  padding-bottom: 8px;
  border-bottom: 0.55px solid color($colors, border);
  background-color: color($colors, background)
}

.relative {
  position: relative;
}

.hide-footer {
  max-height: 0px;
}

.margin-auto {
  margin: auto;
}

.no-margin {
  margin: 0;
}

.margin-top {
  margin-top: 8px;
}

.margin-top-2 {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 8px;
}

.margin-vertical {
    margin: 8px 0;
}

.no-padding {
  padding: 0 !important;
}

.padding-vertical {
  padding: 8px 0;
}

.padding {
  padding: 8px;
}

.padding-2 {
  padding: 16px;
}


.padding-horizontal {
  padding: 0 8px;
}

.padding-horizontal-2 {
  padding: 0 12px;
}

.padding-bottom {
  padding-bottom: 8px;
}

.padding-top {
  padding-top: 8px;
}

.padding-top-2 {
  padding-top: 16px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.disabled {
  opacity: 0.3;
}

.full-width {
  width: 100%;
}

.no-wrap {
  white-space: nowrap;
}

.no-background {
  background: none !important;
}

.border-bottom {
  border-bottom: 1px solid color($colors, extra-light);
}
.border-top {
  border-top: 1px solid color($colors, extra-light);
    &.dark {
    border-color: color($colors, dark);
  }
}
.border-left {
  border-left: 1px solid color($colors, extra-light);;
}
.border-right {
  border-right: 1px solid color($colors, extra-light);;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  align-content: center;
  justify-content: center;
}

.center-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.align-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.align-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

ion-row {
  ion-col {
    font-size: map-get($fonts, inputLabel);
  }
}

ion-row[light] {
  ion-col {
    color: color($colors, light);
  }
}

ion-row[primary] {
  ion-col {
    color: color($colors, primary);
  }
}

.tab-active {
  -webkit-transition : margin .3s ease;
  transition : margin .3s ease;
  height: 2px;
  background: color($colors, primary);
  width: 50% !important;

  &.multiplayer {
    margin-left: 50%;
  }
}

ion-slide {
  .slide-zoom {
    height: 100%;
  }
}

ion-header, ion-footer {
  height: map-get($sizes, menu-height);
  max-height: map-get($sizes, menu-height);
  ion-toolbar {
    height:  map-get($sizes, menu-height);
  }
  ion-navbar {
    height:  map-get($sizes, menu-height);
  }

}

.full-height {
  height: 100%;
}

ion-scroll {
  display: block;
  height: 1000px;
}

@for $i from 1 through 10 {
    .width-#{$i*10} {
        width: percentage($i/10);
        min-width: percentage($i/10);
        max-width: percentage($i/10);
    }
}
