html, ion-content, ion-item, ion-title {
  color: color($colors, text) !important;
  .title {
      color: color($colors, text) !important;
  }
}

.bold {
  font-weight: bold;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hole-title {
  text-shadow: 1px 1px 1px #616161;
}

.custom-ion-title {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: color($colors, menu-title);
  pointer-events: auto;
}

.text-input::-moz-placeholder {
  color: map-get($colors, light);
}

.text-input:-ms-input-placeholder {
  color: map-get($colors, light);
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: map-get($colors, light);
}

.shadow {
  &.light {
    text-shadow: 1px 1px 1px black;
  }

  &.extra-light {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }
}

.ribbon-count {
    min-height: 57px;
}

.primary {
  color: color($colors, primary);
}

.secondary {
  color: color($colors, secondary);
}

.font-big {
  font-size: map-get($fonts, 'big');
}

.font-extra-big {
  font-size: map-get($fonts, 'extra-big');
}

.font-large {
  font-size: map-get($fonts, 'large');
}

.font-large-s {
  font-size: map-get($fonts, 'large-s');
}

.font-avarage {
  font-size: map-get($fonts, 'avarage');
}

.font-small {
  font-size: map-get($fonts, 'small');
}

.font-xsmall {
  font-size: map-get($fonts, 'xsmall');
}

.font-xxsmall {
  font-size: map-get($fonts, 'xxsmall');
}

.stacked-label {
  font-size: map-get($fonts, 'stackedLabel');
}

.text-overline {
  text-decoration: line-through;
}

.text-inset {
  background-color: #565656;
 color: transparent;
 text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
 -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
}
