html, ion-content, ion-item, ion-title {
  color: color($colors, text) !important;
  .title {
      color: color($colors, text) !important;
  }
}

.custom-ion-title {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  pointer-events: auto;
}

.shadow {
  &.light {
    text-shadow: 1px 1px 1px black;
  }
}

.ribbon-count {
    min-height: 57px;
}

.primary {
  color: color($colors, primary);
}

.secondary {
  color: color($colors, secondary);
}

.font-big {
  font-size: map-get($fonts, 'big');
}

.font-extra-big {
  font-size: map-get($fonts, 'extra-big');
}

.font-large {
  font-size: map-get($fonts, 'large');
}

.font-avarage {
  font-size: map-get($fonts, 'avarage');
}

.font-small {
  font-size: map-get($fonts, 'small');
}

.font-xsmall {
  font-size: map-get($fonts, 'xsmall');
}

.text-inset {
  background-color: #565656;
 color: transparent;
 text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
 -webkit-background-clip: text;
    -moz-background-clip: text;
         background-clip: text;
}
