score-card-view {
  
  .minus {
    color: color($colors, background-light);
    background: color($colors, primary);
    padding: 3px;
  }

  .plus {
    color: color($colors, background-light);
    background: color($colors, light-danger);
    padding: 3px;
  }

  .header-row {
    background: color($colors, light-dark);
  }

  .table-title {
    padding: 5px;
  }

  .table-info-container {
    padding-right: 2px;
    height: 40px;
  }

  .no-result {
    color: color($colors, danger);
    padding: 3px;
  }

  .score-card-block {
    background: white;
    padding-top: 8px;
    margin-top: 16px;
  }

}
