

<ion-content>
  
  <!--<div [ngClass]="{'tab-margin' : hasMultiplayers()}" class="background-image"></div>-->

  

  <ion-segment [(ngModel)]="holeService.playerMode" *ngIf="settings.multiplayer">
    <ion-segment-button value="singleplayer">
      Pelaaja
    </ion-segment-button>
    <ion-segment-button value="multiplayer">
      Kaverit
    </ion-segment-button>
  </ion-segment>

  <div class="carousel-wrap" pan>
 
    <hole id="floating-content-0"></hole>
    <hole id="floating-content-1"></hole>
    <hole id="floating-content-2"></hole>


  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-33 class="text-left"><button ion-button icon-only clear *ngIf="holeService.getIndex() > 0" (click)="previous()"> <ion-icon name="arrow-back"> </ion-icon> </button> </ion-col>
      <ion-col col-33 text-center><button ion-button (click)="endRound()" *ngIf="holeService.getIndex() === holeService.getHoles().length-1">Näytä tulos</button></ion-col>
      <ion-col col-33 class="text-right"><button ion-button icon-only clear *ngIf="holeService.getIndex() < holeService.getHoles().length-1" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button></ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
