
.birdie {
  background: color($colors, primary);
  padding: 5px;
}
.eagle {
  background: color($colors, primary);
  padding: 5px;
}
.albatross {
  background: color($colors, primary);
  padding: 5px;
}
.hole-in-one {
  background: color($colors, primary);
  padding: 5px;
}

.bogey {
  background: color($colors, light-danger);
  padding: 5px;
}
.double-bogey {
  background: color($colors, light-danger);
  padding: 5px;
}
.triple-bogey {
  background: color($colors, light-danger);
  padding: 5px;
}
.quadro-bogey {
  background: color($colors, light-danger);
  padding: 5px;
}
