<ion-header>
  <ion-toolbar>
    <ion-title>{{course.name}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

<ion-list radio-group [(ngModel)]="settings.selectedTee">
  <ion-list-header>
    Valitse tii
  </ion-list-header>

  <ion-item *ngFor="let tee of teeList; let i = index">
    <ion-label>{{tee.name + ' (' + tee.metre + 'm)' }}</ion-label>
    <ion-radio checked="{{i === 0}}" value="{{tee.key}}"></ion-radio>
  </ion-item>
</ion-list>

<ion-item>
  <ion-label class="animate color" [ngClass]="{'primary': settings.multiplayer}">Moninpeli</ion-label>
  <ion-toggle color="primary" [(ngModel)]="settings.multiplayer"></ion-toggle>
</ion-item>

<section *ngIf="settings.multiplayer">
  <ion-grid>
    <ion-row *ngFor="let player of players; let i = index">
      <ion-col width-67>
        <ion-item>
          <ion-label color="{{players[i].name ? 'primary' : 'light'}}" floating>Pelaaja {{i+2}}</ion-label>
          <ion-input [(ngModel)]="players[i].name" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col width-33>
        <ion-item *ngIf="players[i].name">
          <ion-label floating>HCP</ion-label>
          <ion-input [(ngModel)]="players[i].hcp" type="number"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</section>
</ion-content>

<ion-footer>
  <ion-navbar text-right>

      <button color="primary" (click)="startRound()" ion-button>
        Pelaa
        <!-- <ion-icon name="arrow-forward" item-left></ion-icon> -->
      </button>


  </ion-navbar>

</ion-footer>
