<ion-header>
  <ion-toolbar>
    <ion-title><a ion-text color="menu-title">{{course.name}}</a></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

<ion-list radio-group [(ngModel)]="settings.selectedTee">
  <ion-list-header class="no-margin border-bottom">
    <span ion-text color="tertiary">Valitse tii</span>
  </ion-list-header>

  <ion-item *ngFor="let tee of teeList; let i = index" class="list-item">
    <ion-label>{{tee.name + ' (' + tee.metre + 'm)' }}</ion-label>
    <ion-radio checked="{{i === 0}}" value="{{tee.key}}"></ion-radio>
  </ion-item>
</ion-list>

<ion-list radio-group (ionChange)="settings.setPlayOption(playOption)" [(ngModel)]="playOption">
  <ion-list-header class="no-margin border-bottom">
    <span ion-text color="tertiary">Valitse kierrospituus</span>
  </ion-list-header>

  <ion-item *ngFor="let option of settings.getPlayOptions(); let i = index" class="list-item">
    <ion-label>{{option.name}}</ion-label>
    <ion-radio value="{{option.key}}"></ion-radio>
  </ion-item>
</ion-list>

<button (click)="addPlayer()" ion-button clear primary icon-left [disabled]="getPlayers().length >= 3">
  <ion-icon name="add"></ion-icon> Lisää pelaaja
</button>


<ion-list>
  <ion-item *ngFor="let player of getPlayers()">
    <button (click)="editPlayer(player)" item-left ion-button clear icon-only><ion-icon name="open"></ion-icon></button>
    {{player.name}} hcp: {{player.hcp}}
    <button (click)="removePlayer(player)" item-right clear ion-button icon-only><ion-icon name="remove"></ion-icon></button>
  </ion-item>
</ion-list>

</ion-content>

<ion-footer>
  <ion-navbar text-right>
      <button class="width-70" color="primary" (click)="startRound()" ion-button>
        Pelaa
        <!-- <ion-icon name="arrow-forward" item-left></ion-icon> -->
      </button>


  </ion-navbar>

</ion-footer>
